* {
  box-sizing: border-box;
}

/* container */
#container {
  background-color: white;
  width: 70%;
  margin: -15px auto 0 auto;
  border-radius: 5px;
  /* border: 1px solid black; */
}

/* content */
#content {
  float: left;
  width: 70%;
  padding: 20px;
  /* border: 1px solid red; */
}
#content #what {
  border-bottom: 2px solid red;
}
/* aside */
aside {
  float: left;
  width: 30%;
  padding: 20px;
  /* border: 1px solid blue; */
}
aside li {
  list-style: none;
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}
aside #time {
  text-decoration: none;
  color: black;
  color: #4F4F4F;
}
aside p {
  font-size: 15px;
}
aside #more {
  color: red;
}

#pediaId {
    float:left;
}

#pediaEdit {
    float:right;
}

/* At 960 */
@media screen and (max-width: 960px) {
  #container {
    width: 90%;
  }
  #content {
    width: 70%;
  }
  aside {
    width: 30%;
  }
}
  
/* At 760 */
@media screen and (max-width: 760px) {
  #content, aside {
    float: none;
    width: 100%;
  }
}